<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="7451429981784349a0550691cdb70e28" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_7451429981784349a0550691cdb70e28 = echarts.init(
            document.getElementById('7451429981784349a0550691cdb70e28'), 'white', {renderer: 'canvas'});
        var option_7451429981784349a0550691cdb70e28 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u6570\u91cf",
            "connectNulls": false,
            "xAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    1,
                    21056
                ],
                [
                    2,
                    1025
                ],
                [
                    3,
                    535
                ],
                [
                    4,
                    33
                ],
                [
                    5,
                    211
                ],
                [
                    6,
                    45
                ],
                [
                    7,
                    237
                ],
                [
                    8,
                    10
                ],
                [
                    9,
                    2
                ],
                [
                    10,
                    96
                ],
                [
                    11,
                    3
                ],
                [
                    12,
                    3
                ],
                [
                    13,
                    1
                ],
                [
                    14,
                    11
                ],
                [
                    15,
                    137
                ],
                [
                    16,
                    1
                ],
                [
                    18,
                    2
                ],
                [
                    19,
                    2
                ],
                [
                    20,
                    56
                ],
                [
                    21,
                    3
                ],
                [
                    25,
                    5
                ],
                [
                    27,
                    3
                ],
                [
                    28,
                    19
                ],
                [
                    30,
                    464
                ],
                [
                    31,
                    25
                ],
                [
                    32,
                    1
                ],
                [
                    33,
                    1
                ],
                [
                    35,
                    3
                ],
                [
                    39,
                    1
                ],
                [
                    40,
                    1
                ],
                [
                    43,
                    1
                ],
                [
                    45,
                    6
                ],
                [
                    50,
                    23
                ],
                [
                    60,
                    24
                ],
                [
                    61,
                    1
                ],
                [
                    69,
                    1
                ],
                [
                    90,
                    99
                ],
                [
                    99,
                    1
                ],
                [
                    100,
                    61
                ],
                [
                    120,
                    4
                ],
                [
                    180,
                    20
                ],
                [
                    181,
                    1
                ],
                [
                    182,
                    1
                ],
                [
                    200,
                    1
                ],
                [
                    240,
                    1
                ],
                [
                    300,
                    12
                ],
                [
                    350,
                    1
                ],
                [
                    356,
                    1
                ],
                [
                    360,
                    4
                ],
                [
                    364,
                    1
                ],
                [
                    365,
                    58
                ],
                [
                    366,
                    1
                ],
                [
                    500,
                    1
                ],
                [
                    1000,
                    2
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                },
                "data": [
                    {
                        "name": "\u6700\u5927\u503c",
                        "type": "max"
                    },
                    {
                        "name": "\u6700\u5c0f\u503c",
                        "type": "min"
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "markArea": {
                "silent": false,
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "red",
                    "margin": 8
                },
                "data": [
                    [
                        {
                            "xAxis": 1
                        },
                        {
                            "xAxis": 5
                        }
                    ]
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u91cf"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "name": "\u6700\u77ed\u79df\u671f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                18,
                19,
                20,
                21,
                25,
                27,
                28,
                30,
                31,
                32,
                33,
                35,
                39,
                40,
                43,
                45,
                50,
                60,
                61,
                69,
                90,
                99,
                100,
                120,
                180,
                181,
                182,
                200,
                240,
                300,
                350,
                356,
                360,
                364,
                365,
                366,
                500,
                1000
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u6570\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u5317\u4eac\u77ed\u79df\u623f\u6700\u77ed\u5468\u671f\u5206\u522b",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_7451429981784349a0550691cdb70e28.setOption(option_7451429981784349a0550691cdb70e28);
    </script>
</body>
</html>
