<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/maps/beijing.js"></script>

</head>
<body >
    <div id="7b0e7e324b6547b08f9fb48699ed7333" class="chart-container" style="width:1200px; height:600px; "></div>
    <script>
        var chart_7b0e7e324b6547b08f9fb48699ed7333 = echarts.init(
            document.getElementById('7b0e7e324b6547b08f9fb48699ed7333'), 'white', {renderer: 'canvas'});
        var option_7b0e7e324b6547b08f9fb48699ed7333 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "margin": 8
            },
            "map": "\u5317\u4eac",
            "data": [
                {
                    "name": "\u671d\u9633\u533a",
                    "value": 7473
                },
                {
                    "name": "\u5ef6\u5e86\u533a",
                    "value": 2107
                },
                {
                    "name": "\u6d77\u6dc0\u533a",
                    "value": 1926
                },
                {
                    "name": "\u5bc6\u4e91\u533a",
                    "value": 1893
                },
                {
                    "name": "\u6000\u67d4\u533a",
                    "value": 1739
                },
                {
                    "name": "\u4e30\u53f0\u533a",
                    "value": 1658
                },
                {
                    "name": "\u901a\u5dde\u533a",
                    "value": 1390
                },
                {
                    "name": "\u660c\u5e73\u533a",
                    "value": 1292
                },
                {
                    "name": "\u987a\u4e49\u533a",
                    "value": 1197
                },
                {
                    "name": "\u5927\u5174\u533a",
                    "value": 1020
                },
                {
                    "name": "\u623f\u5c71\u533a",
                    "value": 927
                },
                {
                    "name": "\u4e1c\u57ce\u533a",
                    "value": 464
                },
                {
                    "name": "\u897f\u57ce\u533a",
                    "value": 385
                },
                {
                    "name": "\u77f3\u666f\u5c71\u533a",
                    "value": 320
                },
                {
                    "name": "\u95e8\u5934\u6c9f\u533a",
                    "value": 282
                },
                {
                    "name": "\u5e73\u8c37\u533a",
                    "value": 245
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "zlevel": 0,
            "z": 2,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5317\u4eac\u5e02\u5404\u533a\u623f\u5c4b\u79df\u8d41\u6570\u91cf\u5206\u5e03",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 7473,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_7b0e7e324b6547b08f9fb48699ed7333.setOption(option_7b0e7e324b6547b08f9fb48699ed7333);
    </script>
</body>
</html>
